@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-satoshi: var(--next-satoshi), ui-sans-serif, system-ui, sans-serif;
  --font-poppins: var(--next-poppins), ui-sans-serif, system-ui, sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--next-satoshi), ui-sans-serif, system-ui, sans-serif;
}

.testimonials-canvas {
  background-color: #fbfbfd;
  background-image:
    radial-gradient(
      ellipse 85% 75% at 100% 0%,
      #e4f59c 0%,
      #eef8c0 34%,
      transparent 64%
    ),
    radial-gradient(ellipse 60% 55% at 0% 100%, #d2dcf8 0%, transparent 62%);
}
